
streamlit
#openai>=1.0.0
huggingface_hub
#weasyprint
python-docx
plotly
pymupdf

numpy==1.24.4
transformers==4.37.2
llama-index==0.10.20
llama-index-llms-huggingface
llama-index-embeddings-huggingface


